/* ----------------------------------------
* Label/Barcode Sheet Maker
* General styles
* Author: Laura Rocha Prado
* Version: May 2021
*-----------------------------------------*/

/* Variables */
:root {
  --main-max-size: 940px;
}

/* Typography */
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  max-width: var(--main-max-size);
  margin: 0 auto;
  padding: 1em;
}

/* Content  */
html {
  color: #212529;
}

body {
  margin: 0 auto;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

main {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (max-width: var(--main-max-size)) {
  main {
    grid-template-columns: 100%;
  }
}

.label {
  display: flex;
  justify-content: space-between;
}

.a4 {
  min-height: 29.7cm;
  max-width: 21cm;
}

.letter {
  min-height: 11in;
  max-width: 8.5in;
}

.card {
  min-height: 4in;
  max-width: 6in;
}

@media print {
  body {
    padding: 0 !important;
    margin: 0 !important;
  }
  h1 {
    display: none !important;
  }
  #options-area {
    display: none !important;
  }
  #sheet-area {
    border: none !important;
  }
  .page {
  }
  .a4 {
    height: 29.7cm;
    width: 21cm;
    margin: 0mm;
  }

  .letter {
    height: 11in;
    width: 8.5in;
    margin: 0in;
  }

  .card {
    height: 4in;
    width: 6in;
    margin: 0in;
  }
}

#sheet-area {
  background-color: lightslategray;
  margin: 0 auto;
}

.page {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}
